extend layout

block content
  div.site-wrapper
    div.site-wrapper-inner
      div.cover-container
        div.masthead.clearfix
          div.inner
            h3.masthead-brand Logo
            nav
              ul.nav.masthead-nav
                li
                  a(href='/') Home
                li
                  a(href='/trends') Trends
                li
                  a(href='#') Todo
                li.active
                  a(href='/output') Search
        div.inner.cover
          h1.cover-heading Search results:
            if data
              table.search-results
                thead
                  tr
                    th.author Author
                    th.tweet Tweet
                    th
                    th.date Date
                tbody
                  each val in data.tData
                    tr
                      td.author
                        a(href='https://twitter.com/#{val[1]}')
                          | #{val[0]}
                        br
                        a.screenname(href='https://twitter.com/#{val[1]}')
                          | @#{val[1]}
                      td.tweet
                        |  #{val[2]}
                      td
                        a.tweeturl(href='https://twitter.com/id/status/#{val[5]}')
                          | #[span.fa.fa-external-link]
                      td.date= val[3]
            else
              p.lead Try search for something
        div.mastfoot
          div.inner
            include footer

block script
  if data
    script(src='/js/output.js')
    script(src='/js/jquery.dataTables.min.js')