<!--
    Football gossip is a data mining tool which
	uses twiiter api. and dbpedia to achieve the goal.

	@author  Wyman Chung, Joseph Chung, Declan Hui
	@version 1.0
	@since   2017-05-24
-->

extend layout

block content
  div#dim-wrapper
  div.site-wrapper
    div.site-wrapper-inner
      div.cover-container
        div
          div.inner
            h3.masthead-brand
              img(src='/images/logo.png', alt='Logo', style='height:96px;')
            nav
              ul.nav.masthead-nav
                li
                  a(href='/') Home
                li.active
                  a(href='/results') Results
        div.inner.cover
          h1.cover-heading Search results:
          if data
            div.sideMenu
              div.sideButton#sideChart
                div#toggleChart
              if data.playerInfo
                div.sideButton#sidePlayer
                  div#togglePlayer
            canvas.hide#chart(width='640', height='640')
            if data.playerInfo
              div.hide#playerInfoContainer
                h1.cover-heading Player Infomation
                table.playerTable
                  tr
                    td.photo
                      img(src='#{data.playerInfo.photo}', alt='twitter_photo')
                    td 
                      table.detail
                        tr
                          td.field Name:
                          td.content=data.playerInfo.name
                        tr
                          td.field Position:
                          td.content=data.playerInfo.pos
                        tr
                          td.field Date of Birth:
                          td.content=data.playerInfo.dob
                        tr
                          td.field Team:
                          td.content=data.playerInfo.team
            table.search-results
              thead
                tr
                  th.author Author
                  th.tweet Tweet
                  th.link
                  th.date Date
              tbody#tweets
                each val in data.tData
                  tr
                    td.author
                      a(href='https://twitter.com/#{val[1]}')
                        | #{val[0]}
                      br
                      a.screenname(href='https://twitter.com/#{val[1]}')
                        | @#{val[1]}
                    td.tweet
                      |  #{val[2]}
                    td.link
                      a.tweeturl(href='https://twitter.com/id/status/#{val[5]}')
                        | #[span.fa.fa-external-link]
                    td.date= val[3]
          else
            p.lead Try search for something
        div
          div.inner
            include footer

block script
  script(src='/js/chart.js')
  if data
    script.
      var lwCount =!{JSON.stringify(data.lwCount)};
      var lwDate =!{JSON.stringify(data.lwDate)};
    script(src='/js/results.js')
  script(src='/js/jquery.dataTables.min.js')